* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

button,
input {
  border: none;
  font-size: inherit;
  background-color: #fff;
  outline: none;
}

body {
  padding: 50px;
  background-color: #ffffff;
}

.container {
  display: flex;
  gap: 10px;

  max-height: calc(100vh - 100px);
  min-height: 400px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 10px;
  background-color: transparent;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
